.App {
  min-height: 100vh;
  text-align: center;
}

.t1{
margin-top:100px;
display: flex;
}

.search {
    text-align: center;
}

.search-form{
  min-height:10vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.search-bar{
  width:50%;
  border:none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 10px #979b91;
  text-align:center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
